@model IEnumerable<CrudAspNet.Models.Libros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "" , new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idLibro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreLibro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idLibro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreLibro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idLibro }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.idLibro }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idLibro }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
